@import "main.css";

.c-report {
  max-height: calc(667px - 2 * 64px - 2 * 16px - 24px - 1.6px - 2 * 16px);
  overflow: auto;
}

.c-report__description, .c-report__select {
  border: 1px solid purple;
  border-radius: 4px;
  color: purple;
  padding: 8px;
}

.c-report__description {
  min-height: 128px;
  resize: none;
}

.c-report__group {
  border: 0;
  display: flex;
  flex-flow: column;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.c-report__label { margin-bottom: 16px; }

.c-report__submit {
  border: 0;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
