@import "lib.css";

.c-report {
  max-height: calc(667px - 2 * 64px - 2 * 16px - 24px - 1.6px - 2 * 16px);
  overflow: auto;
}

.c-report__submit {
  flex-flow: row;
  gap: 0;
  justify-content: space-evenly;
}
