@import "lib.css";

.c-landing {
  flex-flow: column;
  gap: 32px;
  height: 100%;
  justify-content: center;
}

.c-landing__logo { font-size: 64px; }

.c-landing__link {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 16px;
}
