@import url(https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css);

h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h4 { font-size: 20px; }
h4 { font-size: 16px; }

p { font-size: 16px; }

.c-backdrop { background-color: black; }

.c-banner {
  align-items: center;
  background-color: purple;
  color: white;
  display: flex;
  height: 76px; /*flush with menu*/
}

.c-banner__logo {
  font-style: italic;
  padding: 16px;
}

.c-content {
  color: purple;
  height: calc(667px - 2 * 76px - 2 * 16px);
  overflow: auto;
  padding: 16px;
}

.c-content__block {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.c-footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.c-menu {
  background-color: purple;
  display: flex;
  flex-flow: column;
  position: absolute;
  right: 0;
  top: 0;
}

.c-menu > .c-menu__icon::before { content: url(icons/google-fonts-menu-open.svg); }

.c-menu[open] > .c-menu__icon::before { content: url(icons/google-fonts-menu-close.svg); }

.c-menu__icon {
  cursor: pointer;
  list-style: none;
  padding: 16px;
}

.c-menu__list {
  display: flex;
  flex-flow: column;
}

.c-menu__list-item { padding: 16px; }

.c-nav-bar { background-color: purple; }

.c-nav-bar__home {
  display: block;
  padding: 16px;
}

.c-view {
  background-color: white;
  height: 667px;
  margin: auto;
  position: relative;
  width: 375px;
}
